/*Funtes que utilize */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
html{
  scroll-behavior:smooth ;
}
#inicio{
  background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url("/img/f2.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#inicio .contenido header{
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
#inicio .contenido header .contenido-header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1{
  text-align: center;
  color: #ff5080;
}
#inicio .contenido header .contenido-header nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}
#inicio .contenido header .contenido-header nav ul a{
  text-decoration: none;
  color: azure;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}
#inicio .contenido header .contenido-header nav ul a:hover{
  color: #ff5080;
}
#inicio .contenido header .contenido-header .redes a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover{
  color: #ff5080;
}
#inicio .contenido header .contenido-header .seleccionado{
  color: #ff5080;
}
#inicio .contenido .presentacion{
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#inicio .contenido .presentacion .bienvenido{
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#inicio .contenido .presentacion h2{
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
}
#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: #ff5080;
}
#inicio .contenido .presentacion .descripcion{
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}
#inicio .contenido .presentacion a{
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}
#inicio .contenido .presentacion a:hover{
  background-color: #ff5080;
}
#icon-nav{
  color: #fff;
  display: none;
}
/*Educacion */
#educacion{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}
#educacion .contenedor-foto{
  max-width: 400px;
  margin-right: 80px;
}
#educacion .contenedor-foto img{
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}
#educacion .educacion{
  margin: 0 40px;
}
#educacion .educacion .titulo-seccion{
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#educacion .educacion h2{
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}
#educacion .educacion h2 span{
  color: #ff5080;
}
#educacion .educacion h3{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#educacion .educacion p{
  font-size: 14px;
  line-height: 25px;
  color: #0a0a0a;
  margin-bottom: 12px;
}
/*seccion de tecnologias*/
#tecnologias{
  padding:100px 15px;
  text-align: center;
  background-color: #f3f3f3;
}
#tecnologias .titulo-seccion{
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#tecnologias .fila{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}
#tecnologias .fila .tecnologia{
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 5s;
} 
#tecnologias .fila .tecnologia:hover{
  box-shadow: 5px 5px 10px #565656, -5px -5px -10px #8a8a8a;
}
#tecnologias .fila .tecnologia h4{
  font-size: 20px;
  margin-bottom: 25px;
}
#tecnologias .fila .tecnologia .icono{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /*background-color: #f4e6e6;*/
  background-color: #f9f0f0;
  padding: 20px;
  margin-bottom: 25px;
}
#tecnologias .fila .tecnologia hr{
  width: 50%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}
#tecnologias .fila .tecnologia p{
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
/*Seccion hobbies */
.contenedor-hobbies{
  background: linear-gradient(#070707cc, rgba(47, 28, 28, 0.8)), url("/img/f1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
    color: rgb(255, 250, 255);
}
.contenedor-hobbies .hobbies{
  max-width: 600px;
  margin: 30px auto;
}
.contenedor-hobbies .hobbies .info{
  display: flex;
  justify-content: space-between;
}
.contenedor-hobbies .hobbies .lista{
 display: inline-block;
 margin-right: 20px;
 height: 10px;
 width: 10px;
 background-color: #fff; 
}
.contenedor-hobbies .hobbies .barra{
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}
/* este esitlo se aplicara con javascrip animacion*/
.contenedor-hobbies .hobbies .barra .barra-progreso1{
  background-color: #fff;
  width: 100%;
  height: 6px;
  animation: progreso1 2s forwards;
}
.contenedor-hobbies .hobbies .barra .barra-progreso2{
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}
.contenedor-hobbies .hobbies .barra .barra-progreso3{
  background-color: #fff;
  width: 80%;
  height: 6px;
  animation: progreso3 2s forwards;
}
.contenedor-hobbies .hobbies .barra .barra-progreso4{
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}
/*crear animaciones de las barras*/
@keyframes progreso1 {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
@keyframes progreso2 {
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}
@keyframes progreso3 {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}
@keyframes progreso4 {
  0%{
    width: 0;
  }
  100%{
    width: 85%;
  }
}
/*seccion de contacto*/
#contacto{
  padding: 100px 15px;
}
#contacto .titulo-seccion{
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#contacto p{
  text-align: center;
  font-size: 22px;
}

/*footer*/
footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
footer a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}
/*responsive*/
@media screen and (max-width:800px) {
  .redes{
    display: none;
  }
  nav{
    display: none;
  } 
  nav.responsive{
    display: block;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul{
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li{
    margin: 5px 0;

  }
  #icono-nav{
    display: block;
  }
  #inicio .contenido .presentacion{
    font-size: 40pz;
  }
  #educacion{
    padding: 50px 0;
    display: block;
  }
  #educacion .contenedor-foto{
    max-width: 200px;
    margin: auto;
  }
  #educacion .contenedor-foto img{
    padding: 8px;
  }
  #educacion .educacion .titulo-seccion{
    text-align: center;
  }
  #educacion .educacion h2{
    font-size: 25px;
    text-align: center;
  }
  #tecnologias{
    padding: 50px 15px;
    }
  #tecnologias .fila{
    display: block;
  }
  #tecnologias .fila .tecnologia{
    margin: 10px auto;
  }
  .contenedor-hobbies{
    padding: 50px 20px;
  }
  #contacto{
    padding: 50px 15px;
  }
}